.card {
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: contain;
}

.btn {
  background-color: #2B4762;
}

.thread-btn{
  margin-top: 30px;
  margin-left: 1rem;

}
.btn:hover {

  background-color: hsl(209, 39%, 48%);
}