.card {
  cursor: pointer;
  text-decoration: none;
}

.card-text.thread-description {
  max-height: 3rem;
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: contain;
}

.primary {
  background-color: #2B4762;
}

.primary:hover {
  background-color: hsl(209, 39%, 23%);
}

button.btn{
  background-color: #0D6EFD;
}


button.btn:hover{
  background-color: hsl(209, 39%, 23%);
  border: 1px solid hsl(209, 36%, 39%);
}

.thread-btn{
  display: flex;
  justify-content: end;
  margin: 30px;
 margin-right: 25%;
}



.btn-comment {
  margin-bottom: 1rem;
}
