.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2B4762;
  padding: 12px;
}

.nav-menu{
    font-size: 25px;
}
.navbar-home{
    font-size: 25px;
    color: aliceblue;
}

.navlogo-container {
  width: 15rem;
}

.navlogo-image {
  width: 100%;
  object-fit: cover;
}